.parameters,
.stop-orbit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: chartreuse;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.parameters:hover {
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out;
}
.stop-orbit {
  top: 3.5rem;
}
